@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap');

/* General */
* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}
.container {
    width: calc(100% - 120px);
    margin: auto;
}
.container-left{
    margin-left: 60px;
}
.container-right {
    margin-right: 60px;
}
.cursor {
    cursor: pointer;
}

/* Fonts */
.albert-font {
    font-family: "Albert Sans", sans-serif;
}
.sora-font {
    font-family: "Sora", sans-serif;
}
.cinzel-font {
    font-family: "Cinzel", serif;
}
.aboreto-font {
    font-family: "Aboreto", system-ui;
    font-weight: 400;
    font-style: normal;
}

/* Text Colors */
.dark-primary-c {
    color: #2A254B;
}
.primary-c {
    color: #4E4D93;
}
.light-grey-c {
    color: #F9F9F9;
}
.border-grey-c {
    color: #EBE8F4;
}
.white-c{
    color: white;
}
.border-dark-c{
    color: #CAC6DA;
}
.light-purple-c{
    color: #726E8D;
}

/* Background Colors */
.dark-primary-bg {
    background-color: #2A254B;
}
.primary-bg {
    background-color: #4E4D93;
}
.light-grey-bg {
    background-color: #F9F9F9;
}
.border-grey-bg {
    background-color: #EBE8F4;
}
.white-bg{
    background-color: white;
}
.border-dark-bg{
    background-color: #CAC6DA;
}
.light-purple-bg{
    background-color: #726E8D;
}

/* Width */
.w-10 {
    width: 10%;
}
.w-20 {
    width: 20%;
}
.w-25 {
    width: 25%;
}
.w-30 {
    width: 30%;
}
.w-35 {
    width: 35%;
}
.w-40 {
    width: 40%;
}
.w-50 {
    width: 50%;
}
.w-60 {
    width: 60%;
}
.w-70 {
    width: 70%;
}
.w-80 {
    width: 80%;
}
.w-90 {
    width: 90%;
}
.w-100 {
    width: 100%;
}
.fit-content { 
    width: fit-content;
}

/* Text */
.text-center {
    text-align: center;
}
.text-small {
    font-size: small;
}

/* Opacity */
.opacity-15{
    opacity: 15%;
}
