@import url('./base.css');

/* Main Section */
.main-section dev {
    height: 1020px;
}

/* Popular Products Section */
.popular-section .product img {
  object-fit: cover;
}

/* About Section */
.email-sign-up-section input[type="email"]::placeholder {
    color: #CAC6DA;
    font-weight: 300;
}

/* Footer */
footer input[type="email"]::placeholder {
    color: white;
    font-weight: 300;
}

/* ------------------ Media Query ----------------- */

/* Small */
@media (max-width: 767.98px) {

    /* Main Section (Hero Section) */
    .main-section {
        .content {
            padding: 2rem !important;
            gap: 3rem !important;
        }

        p {
            font-size: 14px;
        }

        a {
            display: none;
        }
    }

    .hero-img {
        display: none;
    }

    /* Features Section */
    .features-section .features {
        flex-direction: column !important;
    }

    /* Listings Section */
    .listings-section {
        h3 {
            font-size: 0.7rem !important;
        }

        p {
            font-size: 0.7rem !important;
        }

        a {
            font-size: 0.7rem !important;
        }
    }


    /* Popular Section */
    .popular-section {
        h3 {
            font-size: 0.7rem !important;
        }

        p {
            font-size: 0.7rem !important;
        }

        a {
            font-size: 0.7rem !important;
        }
    }
}

/* Medium */
@media (min-width: 768px) and (max-width: 991.98px) {

    /* Main Section (Hero Section) */
    .main-section {
        .content {
            padding: 2rem !important;
        }

        h1 {
            font-size: 20px !important;
        }

        p {
            font-size: 10px;
        }

        a {
            font-size: 10px;
            padding: 5px 10px !important;
        }
    }
}

/* Large */
@media (min-width: 992px) {}