@import url('./base.css');

.main-section dev {
    height: 1020px;
}

.popular-section img {
    height: 375px;
    object-fit: cover;
}

.about-section input::placeholder {
    color: #CAC6DA;
}

.about-section p {
    font-size: small;
}
.about-section .content {
    margin-left: 60px;
}